@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: normal normal normal 1rem/140% "Poppins", sans-serif;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

input {
  padding: 0.625rem 1.25rem;
  border: solid 1px #e1e1e1;
  outline: none;
  border-radius: 5px;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

figure {
  margin: 0;
  border-radius: 5px;
}

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.card {
  margin-bottom: 1.25rem;
}

.card:last-child {
  margin-bottom: 0;
}

.card figure {
  height: 10rem;
}

.card .card-desc {
  margin-top: 0.625rem;
}

.card .card-desc h2 {
  font: normal normal normal 1rem/140% "Poppins", sans-serif;
  font-weight: bold;
  color: #2c2c2c;
}

.card .card-desc .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.625rem;
  font: normal normal normal 0.75rem/140% "Poppins", sans-serif;
}

.card .card-desc .card-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card-desc .card-info p:nth-child(2) {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.card .card-desc .card-info p img {
  display: block;
  margin-right: 0.313rem;
}

.card-2 figure {
  width: 100%;
  height: 9.375rem;
}

.card-2 figure img {
  border-radius: initial;
}

.card-2 .caption {
  margin-top: 0.938rem;
}

.card-2 .caption h3 a {
  color: #fff;
  font: normal normal normal 1rem/140% "Poppins", sans-serif;
  font-weight: bold;
}

.card-2 .caption p {
  margin-top: 0.313rem;
  font: normal normal normal 0.75rem/140% "Poppins", sans-serif;
}

nav {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #e1e1e1;
}

nav .logo {
  width: 10rem;
  height: 2rem;
  display: block;
  background: url("../images/logo.png") no-repeat;
  background-size: contain;
}

nav ul {
  position: fixed;
  top: 3.5rem;
  bottom: 0;
  right: -31.25rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #c61214;
  padding: 1.25rem;
  color: #fff;
}

nav ul li {
  display: block;
  margin-bottom: 0.625rem;
}

nav ul li:last-child {
  margin-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li button {
  color: #fff;
}

#hero {
  min-height: 37.5rem;
  background: url("../images/bg-hero-mobile.png") no-repeat bottom;
  background-size: contain;
  padding-top: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

#hero .title {
  font: normal normal 600 1.25rem/140% "Poppins", sans-serif;
  margin-bottom: 0.625rem;
}

#hero .title span {
  color: #c61214;
}

#hero form {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  margin-top: 1.25rem;
  padding: 1.25rem;
  position: relative;
}

#hero form input {
  width: 100%;
}

#hero form button {
  width: 100%;
  background: #c61214;
  color: #fff;
  padding: 0.5rem 0;
  border-radius: 5px;
  margin-top: 0.5rem;
}

#today {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 1.875rem;
}

#today .title {
  font: normal normal 600 1.25rem/140% "Poppins", sans-serif;
  font-weight: bold;
}

#today .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 1.5rem;
}

#list-categories {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-top: 1.875rem;
  background: #c61214;
  color: #fff;
  position: relative;
  overflow: hidden;
}

#list-categories::before {
  content: "";
  width: 9.375rem;
  height: 9.375rem;
  background: url("../images/noodle.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 3.125rem;
  left: -3.125rem;
}

#list-categories::after {
  content: "";
  width: 12.5rem;
  height: 12.5rem;
  background: url("../images/nachos.png") no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: 0;
  right: -5rem;
}

#list-categories .title {
  font: normal normal 600 1.25rem/140% "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

#list-categories .list-item {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  z-index: 2;
}

#list-categories .list-item .card-2 {
  width: 50%;
  margin-bottom: 1.25rem;
}

footer {
  background: #fafafa;
  padding: 1.25rem;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-bottom: 1.25rem;
  border-bottom: solid 1px #e1e1e1;
}

footer .content > div {
  margin-bottom: 1.875rem;
}

footer .content > div:last-child {
  margin-bottom: 0;
}

footer .content .company img {
  width: 80%;
}

footer .content .contact .title {
  font-weight: bold;
  color: #c61214;
}

footer .content .contact p {
  margin-bottom: 0.625rem;
}

footer .content .contact p i {
  color: #c61214;
}

footer .content .contact a {
  display: inline-block;
  margin-right: 0.625rem;
  color: #c61214;
}

footer .content .newsletter .title {
  font-weight: bold;
  color: #c61214;
}

footer .content .newsletter form {
  position: relative;
  margin-top: 0.625rem;
}

footer .content .newsletter form input {
  width: 100%;
}

footer .content .newsletter form button {
  width: 100%;
  margin-top: 0.625rem;
  background: #c61214;
  color: #fff;
  border-radius: 5px;
  padding: 0.625rem 1.25rem;
  font-weight: bold;
}

footer .copyright {
  margin-top: 1.25rem;
  text-align: center;
  font: normal normal normal 0.75rem/140% "Poppins", sans-serif;
}

@media screen and (min-width: 768px) {
  nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  nav .logo {
    background-size: 100% 100%;
    height: 2.5rem;
  }
  nav ul {
    position: static;
    background: transparent;
    color: #2c2c2c;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.875rem;
    padding: 0;
  }
  nav ul li {
    display: inline-block;
    margin-bottom: 0;
  }
  nav ul li:nth-child(2) {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  nav ul li a {
    color: #2c2c2c;
    font-weight: bold;
  }
  nav ul li a.active {
    color: #c61214;
  }
  nav ul li form {
    position: relative;
    width: 15.625rem;
  }
  nav ul li form input {
    width: 100%;
    padding-top: 0.938rem;
    padding-bottom: 0.938rem;
  }
  nav ul li button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #c61214;
    right: 1.25rem;
  }
  nav #open-menu {
    display: none;
  }
  #hero {
    min-height: 200px;
    background: url("../images/bg-hero.png") no-repeat top right;
    background-size: contain;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  #hero div {
    width: 40%;
  }
  #hero form input {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .list-item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card {
    width: calc((100% / 2) - 1.25rem);
  }
  .card:nth-child(odd) {
    margin-right: 1.25rem;
  }
  .card figure {
    height: 12rem;
  }
  #list-categories .list-item .card-2 {
    width: 20%;
  }
  footer .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  footer .content > div {
    width: calc((100% / 3) - 0.85rem);
    margin-bottom: 0;
  }
  footer .content .contact {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  footer .content .contact p {
    margin-bottom: 1.25rem;
  }
}

@media screen and (min-width: 992px) {
  nav {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  #hero {
    min-height: 37.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  #hero div {
    position: relative;
    top: 3.5rem;
  }
  #hero .title {
    font: normal normal 600 2.5rem/140% "Poppins", sans-serif;
  }
  #hero form button {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: 3rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #today .card {
    width: calc((100% / 4) - 1.25rem);
    margin-right: 1.25rem;
  }
  #today .card:nth-child(odd) {
    margin-right: 0;
  }
  #today .card:nth-child(4n + 4) {
    margin-right: 0;
  }
  #list-categories {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 12rem;
    padding-right: 12rem;
  }
  #list-categories::before {
    width: 15.625rem;
    height: 15.625rem;
    left: -7.5rem;
  }
  #list-categories::after {
    width: 15.625rem;
    height: 15.625rem;
  }
  #list-categories .title {
    text-align: center;
  }
  #list-categories .list-item {
    margin-top: 1.875rem;
  }
  #list-categories .list-item figure {
    height: 15rem;
  }
  footer {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  footer .content {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  footer .content .contact p {
    margin-bottom: 0.625rem;
  }
  footer .content .newsletter form input {
    padding-top: 0.938rem;
    padding-bottom: 0.938rem;
  }
  footer .content .newsletter form button {
    width: auto;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: 0px;
    color: #c61214;
  }
  footer .content .newsletter form button span {
    display: none;
  }
  footer .content .newsletter form button i {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
  #list-categories .list-item figure {
    height: 10rem;
  }
}

@media screen and (min-width: 1700px) {
  #hero div {
    top: 6rem;
  }
  .card figure {
    height: 15rem;
  }
  #list-categories::before, #list-categories::after {
    width: 18.75rem;
    height: 18.75rem;
  }
  #list-categories::after {
    right: -6.25rem;
  }
  #list-categories .list-item figure {
    height: 17.5rem;
  }
  footer .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .content .company img {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */