@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

//colors
$red: #c61214;
$black: #2c2c2c;
$gray: #e1e1e1;
$white: #fff;
$white-2: #fafafa;

//fonts
$heading-1: normal normal 600 2.5rem/140% "Poppins", sans-serif;
$heading-2: normal normal 600 1.25rem/140% "Poppins", sans-serif;
$heading-3: normal normal normal 1.25rem/140% "Poppins", sans-serif;
$regular: normal normal normal 1rem/140% "Poppins", sans-serif;
$small: normal normal normal 0.75rem/140% "Poppins", sans-serif;

* {
  box-sizing: border-box;
}

// mixin
@mixin mx-80 {
  margin-left: 5rem;
  margin-right: 5rem;
}

@mixin mx-30 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

@mixin mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

@mixin my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

@mixin px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@mixin py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

body {
  font: $regular;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

input {
  padding: 0.625rem 1.25rem;
  border: solid 1px $gray;
  outline: none;
  border-radius: 5px;
}

a {
  color: $black;
  text-decoration: none;
}

figure {
  margin: 0;
  border-radius: 5px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.card {
  margin-bottom: 1.25rem;

  &:last-child {
    margin-bottom: 0;
  }

  figure {
    height: 10rem;
  }
  .card-desc {
    margin-top: 0.625rem;
    h2 {
      font: $regular;
      font-weight: bold;
      color: $black;
    }

    .card-info {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-top: 0.625rem;
      font: $small;

      p {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:nth-child(2) {
          margin-left: 0.625rem;
          margin-right: 0.625rem;
        }

        img {
          display: block;
          margin-right: 0.313rem;
        }
      }
    }
  }
}

.card-2 {
  figure {
    width: 100%;
    height: 9.375rem;

    img {
      border-radius: initial;
    }
  }

  .caption {
    margin-top: 0.938rem;

    h3 a {
      color: $white;
      font: $regular;
      font-weight: bold;
    }

    p {
      margin-top: 0.313rem;
      font: $small;
    }
  }
}

nav {
  @include px-20;
  @include py-20;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px $gray;
  .logo {
    width: 10rem;
    height: 2rem;
    display: block;
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
  }

  ul {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    right: -31.25rem;
    transition: 0.5s;
    background: $red;
    padding: 1.25rem;
    color: $white;
    li {
      display: block;
      margin-bottom: 0.625rem;
      &:last-child {
        margin-bottom: 0;
      }

      a {
        text-decoration: none;
        color: $white;
      }

      button {
        color: $white;
      }
    }
  }
}

#hero {
  min-height: 37.5rem;
  background: url("../images/bg-hero-mobile.png") no-repeat bottom;
  background-size: contain;
  padding-top: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  .title {
    font: $heading-2;
    span {
      color: $red;
    }
    margin-bottom: 0.625rem;
  }

  form {
    background: $white;
    border-radius: 5px;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
      0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
      0px 0px 1px rgba(0, 0, 0, 0.04);
    margin-top: 1.25rem;
    padding: 1.25rem;
    position: relative;

    input {
      width: 100%;
    }

    button {
      width: 100%;
      background: $red;
      color: $white;
      padding: 0.5rem 0;
      border-radius: 5px;
      margin-top: 0.5rem;
    }
  }
}

#today, #other-recipes {
  @include px-20;
  margin-top: 1.875rem;

  .title {
    font: $heading-2;
    font-weight: bold;
  }

  .list-item {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1.5rem;
  }
}

#list-categories {
  @include px-20;
  @include py-20;
  margin-top: 1.875rem;
  background: $red;
  color: $white;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: 9.375rem;
    height: 9.375rem;
    background: url("../images/noodle.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 3.125rem;
    left: -3.125rem;
  }

  &::after {
    content: "";
    width: 12.5rem;
    height: 12.5rem;
    background: url("../images/nachos.png") no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    bottom: 0;
    right: -5rem;
  }

  .title {
    font: $heading-2;
    font-weight: bold;
    position: relative;
    z-index: 2;
  }

  .list-item {
    margin-top: 1.25rem;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    z-index: 2;
    .card-2 {
      width: 50%;
      margin-bottom: 1.25rem;
    }
  }
}

#overview {
  display: flex;
  flex-flow: column wrap;

  figure {
    order: 1;
  }

  .caption {
    @include px-20;
    order: 2;
    margin-top: 1.25rem;

    h1 {
      font: $heading-2;
    }

    .info {
      margin-top: 0.625rem;
      font: $small;

      a {
        color: $red;
      }
      span {
        display: inline-block;
        margin: 0 0.313rem;

        &:last-child {
          margin: 0;
        }
      }
    }

    p {
      margin: 1.25rem 0;

      #load-more {
        color: $red;
        font-weight: bold;
        cursor: pointer;
        font: $regular;
        padding: 0;
      }

      #more {
        &.hide {
          display: none;
        }
        &.show {
          display: block;
        }
      }
    }

    .skill {
      color: $red;
      & > div {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 1.25rem;
      }

      .icon {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: dotted 2px $red;
        position: relative;
        margin-right: 0.625rem;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .see-recipe {
      display: block;
      width: 100%;
      border-radius: 80px;
      background: $red;
      box-shadow: 0px 16px 24px rgba(198, 18, 20, 0.2),
        0px 2px 6px rgba(198, 18, 20, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
      color: $white;
      font: $small;
      font-weight: 600;
      text-align: center;
      padding: 0.625rem 1.25rem;
    }
  }
}

#ingredient-how-to-make {
  display: flex;
  flex-flow: column wrap;
  margin: 1.875rem 0;
  padding: 0 1.25rem;
  .ingredient {
    .title {
      font: $heading-2;
      color: $red;
    }

    .list-item {
      display: flex;
      flex-flow: column wrap;
      margin-top: 1.25rem;

      p {
        position: relative;
        padding-left: 1.875rem;
        margin-bottom: 0.625rem;

        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0px;
          width: 0.938rem;
          height: 0.938rem;
          background: $red;
          border-radius: 50%;
        }
      }
    }
  }

  .how-to-make {
    margin-top: 1.875rem;

    .title {
      font: $heading-2;
      color: $red;
    }

    .list-item {
      margin-top: 1.25rem;
      p {
        margin-left: 2.5rem;
        margin-bottom: .625rem;
        position: relative;

        &::before {
          content: "";
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: $red;
          display: block;
          position: absolute;
          top: .313rem;
          left: -1.875rem;
        }

        &::after {
          content: "";
          width: 2px;
          height: 90%;
          border-left: dotted 2px $red;
          display: block;
          position: absolute;
          left: -1.5rem;
          top: 2rem;
        }

        &:last-child {
          margin-bottom: 0;
          &::after{display: none;}
        }

        span {
          font: $heading-2;
          color: $red;
          display: inline-block;
          margin-right: 0.625rem;
        }
      }
    }
  }
}

#category-banner {
  height: 30rem;
  background: url("../images/bg-category-mobile.png") no-repeat;
  background-size: cover;
  padding: 5rem 1.5rem;
  
  p {
    margin-top: 1.25rem;
  }
}

#tab-menu {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  white-space: nowrap;
  overflow-x: auto;
  button {
    padding: .625rem 1.25rem;
    border-radius: 100px;
    color: $red;
    border: solid 1px $red;
    margin: 0 .625rem 0 0;

    &.active {
      background: $red;
      font-weight: 600;
      color: $white;
    }
    &:first-child {margin-left: 0;}
    &:last-child {margin-right: 0;}
  }
}

footer {
  background: $white-2;
  padding: 1.25rem;

  .content {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 1.25rem;
    border-bottom: solid 1px $gray;

    & > div {
      margin-bottom: 1.875rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
    .company {
      img {
        width: 80%;
      }
    }

    .contact {
      .title {
        font-weight: bold;
        color: $red;
      }

      p {
        margin-bottom: 0.625rem;

        i {
          color: $red;
        }
      }

      a {
        display: inline-block;
        margin-right: 0.625rem;
        color: $red;
      }
    }

    .newsletter {
      .title {
        font-weight: bold;
        color: $red;
      }
      form {
        position: relative;
        margin-top: 0.625rem;
        input {
          width: 100%;
        }

        button {
          width: 100%;
          margin-top: 0.625rem;
          background: $red;
          color: $white;
          border-radius: 5px;
          padding: 0.625rem 1.25rem;
          font-weight: bold;
        }
      }
    }
  }

  .copyright {
    margin-top: 1.25rem;
    text-align: center;
    font: $small;
  }
}

// TABLET
@media screen and (min-width: 768px) {
  nav {
    justify-content: flex-start;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    .logo {
      background-size: 100% 100%;
      height: 2.5rem;
    }
    ul {
      position: static;
      background: transparent;
      color: $black;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 1.875rem;
      padding: 0;
      li {
        display: inline-block;
        margin-bottom: 0;

        &:nth-child(2) {
          @include mx-20;
        }
        a {
          color: $black;
          font-weight: bold;

          &.active {
            color: $red;
          }
        }

        form {
          position: relative;
          width: 15.625rem;

          input {
            width: 100%;
            padding-top: 0.938rem;
            padding-bottom: 0.938rem;
          }
        }

        button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: $red;
          right: 1.25rem;
        }
      }
    }

    #open-menu {
      display: none;
    }
  }

  #hero {
    min-height: 200px;
    background: url("../images/bg-hero.png") no-repeat top right;
    background-size: contain;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    div {
      width: 40%;
    }

    form {
      input {
        @include py-20;
      }
    }
  }

  .list-item {
    justify-content: space-between;
  }

  .card {
    width: calc((100% / 2) - 1.25rem);

    &:nth-child(odd) {
      width: 50%;
      margin-right: 1.25rem;
    }
    figure {
      height: 12rem;
    }
  }

  #list-categories {
    .list-item .card-2 {
      width: 20%;
    }
  }

  #overview {
    figure {
      height: 25rem;
    }
    
    .caption {
      .skill {
        display: flex;
        flex-flow: row wrap;

        div:nth-child(2) {
          @include mx-20;
        }
      }

      .see-recipe {
        width: auto;
        display: inline-block;
        padding: 1.25rem;
        font: $regular;
        font-weight: 600;
      }
    }
  }

  #ingredient-how-to-make .ingredient .list-item {
    flex-flow: row wrap;

    p {
      width: 50%;

      &:nth-child(odd) {
        width: calc(50% - 1.25rem);
        margin-right: 1.25rem;
      }
    }
  }

  #other-recipes {margin-bottom: 1.875rem;}

  #category-banner {
    height: 30rem;
    padding: 5rem 2.5rem;
    background-position: 50%;
    background-size: cover;
  }

  footer {
    .content {
      flex-flow: row wrap;

      & > div {
        width: calc((100% / 3) - 0.85rem);
        margin-bottom: 0;
      }

      .contact {
        margin-left: 1.25rem;
        margin-right: 1.25rem;

        p {
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 992px) {
  nav {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  #hero {
    min-height: 37.5rem;
    padding-left: 5rem;
    padding-right: 5rem;

    div {
      position: relative;
      top: 3.5rem;
    }

    .title {
      font: $heading-1;
    }

    form button {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 50%;
      position: absolute;
      top: 40%;
      right: 3rem;
      transform: translateY(-50%);
    }
  }

  #today, #other-recipes {
    padding-left: 5rem;
    padding-right: 5rem;
    .card {
      width: calc((100% / 4) - 1.25rem);
      margin-right: 1.25rem;


      &:nth-child(4n + 4) {
        margin-right: 0;
      }
    }
  }

  #list-categories {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 12rem;
    padding-right: 12rem;

    &::before {
      width: 15.625rem;
      height: 15.625rem;
      left: -7.5rem;
    }

    &::after {
      width: 15.625rem;
      height: 15.625rem;
    }

    .title {
      text-align: center;
    }

    .list-item {
      margin-top: 1.875rem;

      figure {
        height: 15rem;
      }
    }
  }

  #overview {
    flex-flow: row wrap;

    .caption {
      order: 1;
      width: 50%;
      align-self: center;
      padding-left: 5rem;

      h1 {
        font: $heading-1;
      }

      .info {font: $regular;}
    }

    figure {
      width: 50%;
      height: 40rem;
      border-radius: initial;
      img {border-radius: initial;}
    }

    .see-recipe {
      padding: .625rem 1.25rem;
    }
  }

  #ingredient-how-to-make {
    padding-left: 5rem;
    padding-right: 5rem;
    flex-flow: row wrap;
    
    .ingredient {
      width: 50%;
    }

    .how-to-make {
      width: calc(50%  - 1.25rem);
      margin-left: 1.25rem;
      margin-top: 0;
    }
  }

  #other-recipes {margin-bottom: 1.875rem;}

  #category-banner {
    position: relative;
    background: url("../images/bg-category.png") no-repeat;
    background-size: cover;

    div {
      position: absolute;
      top: 50%;
      right: 6rem;
      transform: translateY(-70%);
      width: 30%;

      h1 {font: $heading-1;}
    }
  }

  footer {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 5rem;
    padding-right: 5rem;
    .content {
      padding-left: 7rem;
      padding-right: 7rem;

      .contact p {
        margin-bottom: 0.625rem;
      }
      .newsletter {
        form {
          input {
            padding-top: 0.938rem;
            padding-bottom: 0.938rem;
          }
          button {
            width: auto;
            background: transparent;
            cursor: pointer;
            position: absolute;
            top: -5px;
            right: 0px;
            color: $red;
            span {
              display: none;
            }

            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

// SMALL DESKTOP
@media screen and (min-width: 992px) and (max-width: 1300px) {
  #list-categories .list-item figure {
    height: 10rem;
  }

  #category-banner {
    background-position-x: 50%;
  }
}

// LARGE DESKTOP
@media screen and (min-width: 1700px) {
  #hero div {
    top: 6rem;
  }

  .card figure {
    height: 15rem;
  }

  #list-categories {
    &::before,
    &::after {
      width: 18.75rem;
      height: 18.75rem;
    }

    &::after {
      right: -6.25rem;
    }

    .list-item figure {
      height: 17.5rem;
    }
  }

  #overview {
    .caption {
      width: 45%;
    }

    figure {
      width: 55%;
    }
  }

  #category-banner div {
    right: 20rem;
  }

  footer {
    .content {
      align-items: center;

      .company img {
        width: 50%;
      }
    }

    .copyright {
      font: $regular;
    }
  }
}
